# TASK THREE
**DATA STRUCTURES**

**1. Create a list of 10 elements of four different data types like int, string, complex and float.**

In [1]:
x = [52,24,99,"Hello","Jupyter","notebook",5.25, 9.25,1+3.14j, 5.2+2j ]
print(x)

[52, 24, 99, 'Hello', 'Jupyter', 'notebook', 5.25, 9.25, (1+3.14j), (5.2+2j)]

**2. Create a list of size 5 and execute the slicing structure**

In [2]:
x = [5.2,2,2.5,8,45,6]
print(x[1:])
print(x[::-1])
print(x[::2])
print(x[2:5])

[2, 2.5, 8, 45, 6]
[6, 45, 8, 2.5, 2, 5.2]
[5.2, 2.5, 45]
[2.5, 8, 45]

**3 Write a program to get the sum and multiply of all the items in a given list.**

In [3]:
list = [1,22,3.5,14,5.0,6.2]

def summation(x):
    sum=0
    for i in x:
        sum = sum+i
    print(sum)

def multiplication(y) :
    mul=1
    for i in y:
        mul = mul*i
    print(mul)

summation(list)
multiplication(list)

51.7
33418.0

**4. Find the largest and smallest number from a given list.**

In [4]:
list1 =[100,20,40,80,95,22,98,25,101]

ln = len(list1)
largest = list1[0]
smallest = list1[0]
for i in range(1, ln):
     if largest < list1[i]:
        largest = list1[i]
print("largestest value in given list is ", largest)

for i in range(1, ln):
     if smallest > list1[i]:
        smallest = list1[i]
print("smallest value in given list is ", smallest)

largestest value in given list is  101
smallest value in given list is  20

**5. Create a new list which contains the specified numbers after removing the even numbers from a
predefined list.**

In [5]:
x = [2,6,12,78,65,99,13,11,5,19]
y = []
for i in x:
    if i%2 != 0:
        y.append(i)
print(y)

[65, 99, 13, 11, 5, 19]

**6. Create a list of elements such that it contains the squares of the first and last 5 elements between
1 and30 (both included).**

In [6]:
print([x**2 for x in range(1,31) if x>=1 and x<=5 or x>=26 and x<=30])

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

**7. Write a program to replace the last element in a list with another list.
Sample input: [1,3,5,7,9,10], [2,4,6,8]
Expected output: [1,3,5,7,9,2,4,6,8]**

In [7]:
x = [1,3,5,7,9,10]
y = [2,4,6,8]
x[-1:] = y
print(x)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

**8. Create a new dictionary by concatenating the following two dictionaries:
    Sample input: a={1:10,2:20} b={3:30,4:40}
    Expected output: {1:10,2:20,3:30,4:40}**

In [8]:
a = {"1": 10, "2":20}
b = {"3":30,"4":40}
z = a | b
Q = {**a, **b}
print(z)
print(Q)

{'1': 10, '2': 20, '3': 30, '4': 40}
{'1': 10, '2': 20, '3': 30, '4': 40}

**9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
and n(both 1 and n included).
Sample input: n=5
Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}**

In [19]:
n = int(input("Enter a number "))
x = dict()
for i in range(1,n+1):
     x[i]=i*i
print(x)

Enter a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**10. Write a program which accepts a sequence of comma-separated numbers from console and
generates a list and a tuple which contains every number in the form of string.
Sample input: 34,67,55,33,12,98
Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)**

In [10]:
values = input("Input some comma seprated numbers : ")
list1 = values.split(",")
tuple = tuple[(list1)]
print('List : ',list1)
print('Tuple : ',tuple)

Input some comma seprated numbers : 34,64,55,33,12,98
List :  ['34', '64', '55', '33', '12', '98']
Tuple :  tuple[['34', '64', '55', '33', '12', '98']]

# Task 4 
**TRADITIONAL FUNCTIONS,ANONYMOUS FUNCTIONS &
HIGHER ORDER FUNCTIONS**

**1. Write a program to reverse a string.
Sample input: “1234abcd”
Expected output: “dcba4321”**

In [11]:
string = "1234abcd"
print(string[::-1])

str = ""
for i in string:
    str = i+str
print(str)

dcba4321
dcba4321

**2. Write a function that accepts a string and prints the number of uppercase letters and lowercase
letters.
Sample input: “abcSdefPghijQkl”
Expected Output: No. of Uppercase characters : 3 No. of Lower case Characters : 12**

In [20]:
def case_counting(x):
    l = []
    u = []
    for i in x:
        if (i >= 'A' and i <= 'Z'):
            u.append(i)
        elif (i >= 'a' and i <= 'z'):
             l.append(i)
        
    print("Number of uppercase letter ",len(u))
    print("Number of Lowercase letter ",len(l))
    
x = input("Enter a string: ")
case_counting(x)

Enter a string: dhrubsSSSUUbnhaHk
Number of uppercase letter  6
Number of Lowercase letter  11

**3. Create a function that takes a list and returns a new list with unique elements of the first list.**

In [21]:
numbers = [1, 2, 2, 3, 3, 4, 5]


def get_unique_numbers(numbers):
    list_of_unique_numbers = []
    unique_numbers = set(numbers)

    for i in unique_numbers:
        list_of_unique_numbers.append(i)
    return list_of_unique_numbers


print(get_unique_numbers(numbers))

[1, 2, 3, 4, 5]

**4. Write a program that accepts a hyphen-separated sequence of words as input and prints the words
in a hyphen-separated sequence after sorting them alphabetically.**

In [23]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

DHRUVI-hello-python-leaRNINH
DHRUVI-hello-leaRNINH-python

**5. Write a program that accepts a sequence of lines as input and prints the lines after making all
   characters in the sentence capitalized.**

   **Sample input: Hello world Practice makes man perfect**

   **Expected output: HELLO WORLD PRACTICE MAKES MAN PERFECT**

In [ ]:
string = "Hello world practice makes man perfect"
string1 = []
for i in string:
    string1.append(i.upper())

for i in string1:
    print(i, end= "")

**6. Define a function that can receive two integral numbers in string form and compute their sum and
print it in the console.**

In [24]:
x = input("Enter 1st number: ")
y = input("Enter 2nd number: ")

def sum_cal(a,b):
     Z = int(a) + int(b)
     return Z

sum_cal(x,y)

Enter 1st number: 25
Enter 2nd number: 36

61

**7. Define a function that can accept two strings as input and print the string with the maximum length
in the console. If two strings have the same length, then the function should print both the strings line
by line.**

In [25]:
x = input("Enter 1st string: ")
y = input("Enter 2nd string: ")

def string_length(a,b):
    l_1 = len(a)
    l_2 = len(b)
    if l_1 > l_2:
        print(a)
    elif l_1 < l_2:
        print(b)
    else:
        print(a)
        print(b) 

string_length(x,y)

Enter 1st string: hiTHERE
Enter 2nd string: iAM LEARNING pYTHON
iAM LEARNING pYTHON

**8.Define a function which can generate and print a tuple where the values are square of numbers
between 1 and 20 (both 1 and 20 included).**

In [28]:
def printValues():
    l = []
    for i in range(1,21):
        l.append(i**2)
    print(tuple(l))
    
printValues()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

**9. Write a function called showNumbers that takes a parameter called limit. It should print all the
numbers between 0 and limit with a label to identify the even and odd numbers.
Sample input: show Numbers(3) (where limit=3)**

 **Expected output:**

    0 EVEN

    1 ODD

    2 EVEN

    3 ODD**

In [29]:
def showNumber(x):
    for i in range(0, x+1):
        if i==0:
            print(i,end=" ")
            print("EVEN")

        elif i%2==0:
            print(i,end=" ")
            print("EVEN")

        else:
            print(i,end=" ")
            print("ODD")

showNumber(3)

0 EVEN
1 ODD
2 EVEN
3 ODD

**10. Write a program which uses filter() to make a list whose elements are even numbers between 1
and 20 (both included)**

In [2]:
def even(x):
    return x%2==0

evenNumbers = filter(even, range(1,21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**11. Write a program which uses map() and filter() to make a list whose elements are squares of even
numbers in [1,2,3,4,5,6,7,8,9,10].**

Hints: Use filter() to filter even elements of the given listUse map() to generate a list of squares of the
numbers in the filtered list. Use lambda() to define anonymous functions.

In [37]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = map(lambda x: x**2, filter(lambda x: x%2==0, li))
print(tuple(evenNumbers))

(4, 16, 36, 64, 100)

**12. Write a function to compute 5/0 and use try/except to catch the exceptions**

In [38]:
def divide():
    return 5/0

try:
    divide()
except ZeroDivisionError as ze:
    print("Why on earth you are dividing a number by ZERO!!")
except:
    print("Any other exception")

Why on earth you are dividing a number by ZERO!!

**13. Flatten the list [1,2,3,4,5,6,7] into 1234567 using reduce().**

In [39]:
from functools import reduce
reduce(lambda a,d: 10*a+d, [1,2,3,4,5,6,7,8], 0)

12345678

**14. Write a program in Python to find the values which are not divisible by 3 but are a multiple of 7.
Make sure to use only higher order functions.**

In [40]:
result=[i for i in range(1,70) if i%3 != 0 and i%7 == 0]
print(result)

[7, 14, 28, 35, 49, 56]

**15. Write a program in Python to multiply the elements of a list by itself using a traditional function
and pass the function to map() to complete the operation.**

In [3]:
num1=[1,2,3,4,5]
num2= map(lambda x:x*x,num1)

print(num2)
print(list(num2))

<map object at 0x0000024DC3862970>
[1, 4, 9, 16, 25]

**16. What is the output of the following codes:**

In [42]:
def foo():
 try:
    return 1
 finally:
    return 2
k = foo()
print(k)

2

In [43]:
def a():
    try:
        f(x, 4)
    finally:
        print('after f')
        print('after f?')
a()

after f
after f?

NameError: name 'f' is not defined